:root {
  --background: radial-gradient(
      26% 230px at 34% 0,
      #aa14f080 0%,
      #aa14f000 100%
    ),
    radial-gradient(38% 250px at left 20%, #aa14f080 0%, #aa14f000 100%),
    radial-gradient(30% 220px at right 20%, #aa14f080 0%, #aa14f000 100%),
    radial-gradient(23% 220px at right 84%, #aa14f080 0%, #aa14f000 100%),
    radial-gradient(30% 280px at left 66%, #aa14f080 0%, #aa14f000 100%),
    radial-gradient(30% 230px at left 87%, #aa14f080 0%, #aa14f000 100%),
    linear-gradient(
      #010208 16%,
      #010206 21%,
      #040008 25%,
      #010101 30%,
      #010101 34%,
      #010101 36%,
      #010101 100%
    );
  --forground-100: #ffffff;
  --forground-85: #ffffffd9;

  --font-size-body: clamp(1.2rem, 1rem + 2.3vw, 1.46rem);

  --family-orbitron: "Orbitron";
  --family-Inter: "Inter";
  /* --family-Oswald: "Oswald"; */

  --orbitron-black: 900;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background: var(--background, #010101);
}

body {
  font-family: var(--family-Inter, sans-serif);
  font-weight: 400;
  font-size: var(--font-size-body, 1.2rem);
  background-repeat: no-repeat;
  color: var(--forground-100, #fff);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(120ch, 100%) 1fr;
}

.wrapper > * {
  grid-column: 2;
}

a {
  text-decoration: none;
}

p {
  opacity: 0.9;
}

.skip-to-content {
  position: absolute;
  top: 10px;
  left: 100px;
  padding: 0.6rem;
  /* opacity: 0; */
  translate: 0 -100px;
  border-radius: 4px;
  background: var(--forground-100, #fff);
  transition: translate 1s;
}

.skip-to-content:focus-visible {
  opacity: 1;
  translate: 0 0;
}

.skip-to-content > * {
  font-weight: 600;
  color: transparent;
  background-image: var(--background, #010101);
  -webkit-background-clip: text;
  background-clip: text;
}

.not-full-width {
  padding-inline: clamp(2.5rem, 0.8rem + 2.3vw, 4rem);
}

.full-bleed {
  grid-column: 1/-1;
}

.navbar {
  --logo-font-size: clamp(2rem, 1.5rem + 2.3vw, 3.335rem);

  padding-block: 1.5rem;
}

.navbar-flex-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "IM Fell Great Primer SC", sans-serif;
  font-size: var(--logo-font-size, 2.335rem);
  user-select: none;
}

.menu-button {
  display: none;
}

.navbar_list {
  font-family: var(--family-Inter, sans-serif);
  font-size: clamp(0.8rem, 0.5rem + 2.3vw, 1.251rem);
  font-weight: 500;
}

.navbar_item--display {
  display: none;
}

.navbar_link:hover,
.navbar_link:focus-visible {
  color: transparent;
  background-image: linear-gradient(to right, #c824ec 0%, #df308d 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.navbar_list-flex-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

.navbar_link_icon {
  display: none;
}

.navbar_link {
  display: block;
}

.navbar_link--active.active {
  color: transparent;
  background-image: linear-gradient(to right, #c824ec 0%, #df308d 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.navbar_link--active::after {
  content: "";
  display: block;
  visibility: hidden;
  background: #fff;
  height: 0.3rem;
  width: 0.9rem;
  margin: auto;
}

.navbar_link--active.active::after {
  visibility: visible;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.button {
  --direction: to right;
  --bgcolor-1: #bc3cd8 0%;
  --bgcolor-2: #c54b8c 100%;
  --border-radius: 3.34px;

  display: inline-block;
  position: relative;
  font-size: clamp(1rem, 0.5rem + 2.3vw, 1.106rem);
  color: inherit;
  background-image: linear-gradient(
    var(--direction, to right),
    var(--bgcolor-1, #bc3cd8 0%),
    var(--bgcolor-2, #c54b8c 100%)
  );
  border: none;
  border-radius: var(--border-radius);
  padding-inline: clamp(1.5rem, 1rem + 2.3vw, 2.5rem);
  padding-block: clamp(0.5rem, 0.2rem + 2.3vw, 1rem);
  min-width: fit-content;
  user-select: none;
  transition: all 1s;
}

.button:hover,
.button:focus-visible {
  transform: scale(0.9);
}

.button--default {
  background: transparent;
}

.button--default:hover,
.button--default:focus-visible {
  transform: scale(1);
  transition: all 1s;
}

.button--default::after {
  display: block;
  content: "";
  position: absolute;
  width: 0%;
  inset: 0;
  animation: animate-no-btn-bg 1s;
  background: linear-gradient(
    var(--direction),
    var(--bgcolor-1),
    var(--bgcolor-2)
  );
  z-index: -1;
  opacity: 0.4;
  border-radius: var(--border-radius);
}

.button--default:hover:after,
.button--default:focus-visible::after {
  width: 100%;
  animation: animate-btn-bg 1s;
}

@keyframes animate-btn-bg {
  0% {
    width: 0%;
    opacity: 0.1;
  }

  100% {
    width: 100%;
    opacity: 0.4;
  }
}

@keyframes animate-no-btn-bg {
  0% {
    width: 100%;
    opacity: 0.4;
  }

  100% {
    width: 0%;
    opacity: 0.1;
  }
}

.head-content {
  margin-block-start: 6rem;
  position: relative;
}

.head-content-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.head-content-texts-1 {
  position: relative;
}

.head-content-texts-1-flex-layout {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.head-title {
  font-family: var(--family-orbitron, sans-serif);
  font-size: clamp(2rem, 1rem + 2.3vw, 5rem);
  font-weight: var(--orbitron-black, 900);
  max-inline-size: 13ch;
}

.head-text {
  max-inline-size: 40ch;
}

.people-online {
  margin-block-start: clamp(0.5rem, 0.2rem + 2.3vw, 1rem);
}

.people-online-flex-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: clamp(1.3rem, 0.8rem + 2.3vw, 2.5rem);
}

.people-online_text::before {
  display: inline-block;
  content: "";
  width: clamp(0.4rem, 0.2rem + 2.3vw, 0.8rem);
  height: 0.8rem;
  border-radius: 100px;
  background: #fff;
  margin-inline-end: clamp(0.3rem, 0.1rem + 2.3vw, 1rem);
}

.head-content-texts-2 {
  isolation: isolate;
  text-align: center;
}

.head-content-deco {
  position: absolute;
  top: 0;
  right: 3%;
  z-index: 2;
}

.head-img-deco {
  margin-block-start: 5rem;
  width: 100%;
  z-index: 2;
}

.head-content-texts-2-grid-layout {
  display: grid;
  justify-items: center;
}

.head-content-texts-2 > * {
  grid-area: 1/1;
}

.head-img-texts-2-container {
  z-index: 1;
  position: relative;
}

.head-img-texts-2-container::before {
  position: absolute;
  display: block;
  content: "";
  height: 45%;
  width: 100%;
  background: #010101;
  z-index: -1;
}

.head-img-texts-2-container::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: 0;
  height: 65%;
  width: 10%;
  background: #010101;
  z-index: -1;
}

.head-img-01 {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.head-title-2-container {
  background: #534686;
  padding-block-end: 5rem;
  max-inline-size: 29rem;
  margin: auto;
  margin-block-start: 9rem;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
}

.head-title-2-container-flex-layout {
  display: flex;
  flex-direction: column;
  gap: clamp(1.3rem, 1rem + 2.3vw, 2rem);
}

.head-title-2 {
  font-family: var(--family-orbitron, sans-serif);
  font-weight: 800;
  font-size: clamp(1.3rem, 1rem + 2.3vw, 1.9rem);
  padding-inline: clamp(0.5rem, 0.2rem + 2.3vw, 1rem);
}

.head-title-2::after {
  display: block;
  content: "";
  width: 15.162rem;
  margin: auto;
  margin-block-start: clamp(1.3rem, 1rem + 2.3vw, 2rem);
  height: 0.157rem;
  background: #fff;
}

.head-text-2 {
  max-inline-size: 20.317rem;
  font-size: clamp(0.8rem, 0.3rem + 2.3vw, 1.108rem);
  padding-inline: clamp(0.5rem, 0.2rem + 2.3vw, 1rem);
  margin: auto;
}

/* main */

.experience-playing-game {
  margin-block-end: 8rem;
}

.experience-playing-game-flex-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  align-items: start;
  justify-items: start;
  gap: clamp(1rem, 1.5rem + 2.3vw, 3rem);
}

.experience-playing-game_img-male {
  margin-block-start: 10rem;
}

.experience-playing-game_text-wrapper {
  align-self: end;

  display: grid;
  justify-items: start;
  gap: 2rem;
  margin-block-end: 1.5rem;
}

.experience-playing-game_title {
  font-size: clamp(1.7rem, 1.2rem + 2.3vw, 2.085rem);
  max-inline-size: 15ch;
}

.experience-playing-game_text {
  max-inline-size: 28ch;
}

.banner {
  background: url(../media/image/banner-remote.svg),
    url(../media/image/banner.svg);
  background-repeat: no-repeat;
  background-size: 8% auto, 80%;
  background-position: right 25% center, left top 30%;
  margin-block-end: 8rem;
}

.virtual-world-text {
  font-family: var(--family-orbitron, sans-serif);
  font-size: 1.811rem;
  font-weight: 600;
  padding-block: 2rem;
  max-inline-size: 24ch;
}

.reality-headsets_header {
  font-family: var(--family-orbitron, sans-serif);
  font-size: clamp(1.5rem, 1rem + 2.3vw, 1.9rem);
  font-weight: var(--orbitron-black, 900);
  margin-block-end: 4rem;
}

.reality-headsets_list {
  padding: 0;
  list-style: none;
  margin-block-end: clamp(5rem, 4rem + 2.3vw, 7rem);
}

.reality-headsets_list-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(1.5rem, 1rem + 2vw, 3rem);
}

.reality-headsets_item {
  position: relative;
  transition: all 1s;
}

.reality-headsets_img {
  width: 100%;
  height: 100%;
}

.reality-headsets_article {
  font-size: clamp(0.8rem, 0.5rem + 1vw, 1.5rem);
  position: absolute;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1rem 2rem;
  max-inline-size: 50%;
}

.reality-headsets_article--shift-bottom {
  bottom: 4.2px;
}

.reality-headsets_item:hover {
  transform: scale(1.01);
}

.reality-headsets_title {
  font-family: var(--family-orbitron, sans-serif);
  font-weight: 600;
  margin-block-end: 1rem;
}

.reality-headsets_text {
  color: #efdede;
}

.clients {
  margin-block-end: 14rem;
}

.clients-wrapper {
  isolation: isolate;
  position: relative;
  padding: 6rem clamp(1.5rem, 1rem + 2.3vw, 4rem);
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px #aa14f045;
  background: radial-gradient(
      400px 200px at right top,
      #aa14f02d 0%,
      #aa14f000 100%
    ),
    radial-gradient(600px 200px at 29px top, #aa14f058 0%, #aa14f000 100%);
  background-repeat: no-repeat;
}

.clients-wrapper::before {
  position: absolute;
  display: block;
  content: "";
  inset: 0;
  border-radius: 8px;
  background: linear-gradient(
      #aa14f0 0%,
      #aa14f02e 33%,
      #973c440d 100%,
      #00000000 100%,
      #aa14f0 100%,
      #b936f500 100%
    ),
    linear-gradient(#b936f5 0%, #b936f5 0%, #aa14f0 100%);
  background-repeat: no-repeat;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  opacity: 0.09;
  z-index: -1;
}

.clients_title {
  font-family: var(--family-orbitron, sans-serif);
  font-size: 1.9rem;
  font-weight: 700;
  text-align: center;
  margin-block-end: 2.5rem;
}

.clients_text {
  font-size: 1.5rem;
  text-align: center;
  max-inline-size: 58ch;
  margin: auto;
  margin-block-end: 4rem;
}

.clients-list {
  padding: 0;
  list-style: none;
  margin-block-end: -12rem;
}

.clients-list-flex-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.clients-item {
  font-size: 1.4rem;
  position: relative;
  padding: 1rem 2rem;
  width: min(100%, 21rem);
  flex-grow: 1;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px #aa14f064;
}

.clients-item--center {
  justify-self: center;
}

.clients-item::before {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: 8px;
  z-index: -1;
  background: linear-gradient(#b936f540 0%, #b936f533 0%, #aa14f026 100%);
}

.clients-item-flex-layout {
  display: grid;
  flex-direction: column;
  gap: 1.5rem;
}

.clients-item-title {
  font-weight: 700;
}

.clients-item-title--yellow {
  color: #f7b603;
}

.clients-item-text {
  font-size: 1.2rem;
}

.avatar {
  display: flex;
  gap: 1rem;
}

.avatar_img-wrapper {
  width: 100%;
  height: 100%;
  max-inline-size: 4rem;
}

.avatar_img {
  width: 100%;
  height: 100%;
}

.avatar_name {
  font-weight: 500;
}

.avatar_name-flex-layout {
  display: flex;
  flex-direction: column;
}

.avatar_handle {
  font-size: 1.2rem;
  color: #eb4468;
}

.company-culture {
  margin-block-end: 5rem;
}

.company-culture-flex-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.company-culture_title {
  font-family: var(--family-orbitron);
  font-size: 1.9rem;
  max-inline-size: 15ch;
  margin-block-end: 2.5rem;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.company-culture_text {
  max-inline-size: 31.6ch;
}

.company-culture_emoji-list {
  font-size: clamp(1rem, 0.8rem + 2.3vw, 1.1rem);
  padding: 0;
  list-style: none;
}

.company-culture_emoji-list-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  gap: 1rem;
}

.company-culture_emoji-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.company-culture_emoji-item > * {
  flex: 1;
}

.product_wrapper {
  isolation: isolate;
  position: relative;
  margin-block-end: 2.5rem;
  padding: clamp(2rem, 1rem + 2.3vw, 3rem);
  border-radius: 8px;
  box-shadow: 0 0 0px 1px #aa14f06f;
  transition: transform 1s;
}

.product_wrapper.slide:focus-within {
  transform: scale(1.02);
}

.product_wrapper::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  opacity: 0.29;
  border-radius: 8px;
  background: url(../media/image/product-img.svg),
    linear-gradient(
      to left,
      #aa14f0 0%,
      #00000000 0%,
      #aa14f0 100%,
      #aa14f02e 33%,
      #973c440d 100%,
      #b936f500 100%
    );
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50%, 100%;
  background-blend-mode: difference;
}

.explore-product_title {
  font-family: var(--family-orbitron, sans-serif);
  font-weight: 700;
  font-size: 1.6rem;
  max-inline-size: 15ch;
  margin-block-end: 2rem;
}

.explore-product_text {
  font-size: 1.3rem;
  max-inline-size: 34ch;
  margin-block-end: 1rem;
}

.form-email {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  max-inline-size: 37rem;
}

.email {
  color: #ffffff9c;
  background: transparent;
  border: none;
  padding: 0.8rem 1.5rem;
  box-shadow: 0px 0px 0px 1px #aa14f064;
  border-radius: 3.34px;
}

.email:focus-visible {
  border: none;
  outline: 1px solid #fff;
}

.validity {
  grid-area: 1/1/1/-1;
  color: #eb4468;
}

.form-button {
  padding-inline: clamp(1rem, 0.5rem + 2.3vw, 2.5rem);
  padding-block: clamp(0.5rem, 0.2rem + 2.3vw, 1rem);
}

.icon--size {
  width: 0.9rem;
  height: 0.8rem;
}

.skip-to-top {
  display: none;
  position: fixed;
  z-index: 2;
  bottom: 50px;
  right: 30px;
  background: #e0dfdfc6;
  padding: 1rem 1.5rem;
  border-radius: 8px;
}

.skip-to-top > * {
  font-weight: 600;
  font-size: 2.5rem;
  color: transparent;
  background-image: var(--background, #010101);
  -webkit-background-clip: text;
  background-clip: text;
}

/* Animation on page load. */

[data-pop-in] {
  opacity: 0;
  transform: scale(0);
}

[data-pop-in].slide {
  /* used .slide instead of .popin to match with javascript  */
  opacity: 1;
  transform: scale(1);
  transition: transform 1s cubic-bezier(0, 0.5, 1, 1);
}

[data-slide-in="slide in left"] {
  opacity: 0;
  translate: -150px;
}

[data-slide-in="slide in left"].slide,
[data-slide-in="slide in right"].slide {
  opacity: 1;
  translate: 0px;
  transition: translate 1s cubic-bezier(0, 0.5, 1, 1),
    opacity 1s cubic-bezier(0, 0.5, 1, 1);
}

[data-slide-in="slide in right"] {
  opacity: 0;
  translate: 150px;
}

[data-slide-up] {
  opacity: 0;
  transform: translateY(80px);
}

[data-slide-up].slide {
  opacity: 1;
  transform: translateY(0px);
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0, 0.5, 1, 1);
  transition-duration: 1s, 1s;
}

[data-slide-up="slide up slower"] {
  transition-delay: 0.5s;
}

[data-slide-up="slide up slowest"] {
  transition-delay: 1s;
}

@media (max-width: 40em) {
  :root {
    --background: radial-gradient(
        42% 250px at 38% 0,
        #aa14f080 0%,
        #aa14f000 100%
      ),
      radial-gradient(38% 250px at left 20%, #aa14f080 0%, #aa14f000 100%),
      radial-gradient(23% 300px at right 28%, #aa14f080 0%, #aa14f000 100%),
      radial-gradient(28% 250px at right 90%, #aa14f080 0%, #aa14f000 100%),
      radial-gradient(30% 280px at left 66%, #aa14f080 0%, #aa14f000 100%),
      radial-gradient(30% 230px at left 87%, #aa14f080 0%, #aa14f000 100%),
      linear-gradient(
        #010208 16%,
        #010206 21%,
        #040008 25%,
        #010101 30%,
        #010101 34%,
        #010101 36%,
        #010101 100%
      );
  }
  .menu-button {
    font-size: var(--logo-font-size, 2.335rem);
    display: inline-block;
    border: none;
    border-radius: 3px;
    padding: 0.2rem 1rem;
    background: transparent;
    color: inherit;
    cursor: pointer;
    transition: background 1s;
  }

  .menu-button:hover {
    background: #ffffff15;
  }

  .navbar_list {
    min-inline-size: 50%;
    padding-inline: 1.5rem;
    padding-block-start: 2rem;
    background: #fff;
  }

  .navbar_list-flex-layout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 3;
    translate: 100%;
    opacity: 0;
    transition: translate 1s cubic-bezier(0, 0.5, 1, 1),
      opacity 1s cubic-bezier(0, 0.5, 1, 1);
  }

  .navbar_list.animate {
    translate: 0%;
    opacity: 1;
  }

  .navbar_link {
    background: var(--background, #010101);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .navbar_link_icon {
    display: inline-block;
    vertical-align: middle;
    margin-inline-end: 1rem;
  }

  .fa-xmark {
    font-size: var(--logo-font-size, 2.335rem);
    background: var(--background, #000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .navbar_item--display {
    display: block;
  }

  .navbar_item_button--close {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #010101;
    background: transparent;
    padding: 0.2rem 1rem;
    cursor: pointer;
    transition: all 1s;
  }

  .navbar_item_button--close:hover,
  .navbar_item_button--close:focus-visible {
    background: #0101011a;
  }

  .navbar_item_button--close:active {
    transform: scale(0.9);
  }

  .navbar_item--mobile-mode {
    text-align: center;
    width: 100%;
  }

  .button--mobile-mode {
    display: inline-block;
    min-width: 100%;
  }

  .head-content-grid-layout {
    grid-template-columns: 1fr;
  }

  .experience-playing-game_text-wrapper {
    grid-area: 2/1/3/3;
  }

  .experience-playing-game_text {
    max-inline-size: unset;
  }

  .banner {
    background-size: unset;
    background-image: url(../media/image/banner.svg);
    background-position: left top 30%;
  }

  .reality-headsets_list-grid-layout {
    grid-template-columns: 1fr;
  }

  .company-culture-flex-layout {
    justify-content: unset;
    gap: 3rem;
  }

  .email {
    grid-column: 1/-1;
  }

  .form-button {
    grid-column: 1/-1;
  }

  .scroll {
    overflow: hidden;
  }

  .overlay::after {
    position: fixed;
    content: "";
    inset: 0;
    z-index: 2;
    opacity: 0.8;
    background: #010101;
  }

  /* animate on page load to slide in left to avoid sidebar navigation bug*/
  [data-slide-in="slide in right"] {
    translate: -150px;
  }

  /* remove delay on mobile */
  [data-slide-up="slide up slower"] {
    transition-delay: unset;
  }

  [data-slide-up="slide up slowest"] {
    transition-delay: unset;
  }
}
